/* You can add global styles to this file, and also import other style files */
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    
}
.body{
    min-height: 100vh;
    background-color: #282c34;
}