/* You can add global styles to this file, and also import other style files */
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    
}
.body{
    min-height: 100vh;
    background-color: #282c34;
}

.file_item_card{
    width: 100%;
    height: 50px;
    float: left;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

.item_card{
    width: 100%;
    height: 50px;
    /* background: black; */
    line-height: 50px;
    padding-left: 15px;
    margin-top: 5px;
}
.item_card_name{
    height: 50px;
    float: left;
}
.item_card_options{
    float: right;
    height: 50px;
}
.options-wrapper{
    height: 50px;
    cursor: pointer;
    float: left;
    text-align: center;
    background-color:  darkslategray;
    border: 0px;
    color: white;
    margin-right: 20px;
    padding: 5px;
}

.options{
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    float: left;
    text-align: center;
    background-color:  darkslategray;
    border: 0px;
    color: white;
}

.form-parent{
    margin-top: 20px;
}
.form-element-wrapper{
    width: 100%;
    height: 50px;
    color: #eee;
    float: left;
}
.form-element-title{
    /* width: 100px; */
    float: left;
    text-align: center;
    padding-left: 20px;
    line-height: 50px;
    padding-right: 20px;
}
.form-element-input{
    height: 50px;
    width: 200px;
    float: left;
    text-align: center;
    /* padding-left: 20px; */
    line-height: 50px;
    margin-top: 10px;
}

.form-element-input > input{
    height: 20px;
    width: 100px;
    float: left;
    text-align: center;
    /* padding-left: 20px; */
    line-height: 20px;
}