<form #register = "ngForm" (ngSubmit) = "onClickSubmit()">

        <div class = "form-element-wrapper"> 
                <div class="form-element-title">
                        Please Upload Files here (can upload multiple files at a time..)
                </div>
        </div>

        <div class = "form-element-wrapper"> 
                        <div class="form-element-title">
                                File:
                        </div>
                        <br>
                        <!-- <div class="form-element-input">  -->
                                <input type = "file" name = "file" placeholder = "upload file" (change) = "onFileSelected($event)" multiple>
                        <!-- </div> -->
        </div>
        <div class = "form-element-wrapper"> 
                
                <div class="form-element-input"> 

                        <input type = "submit" value = "submit">

                </div>
        </div>
        
        
        
</form>


